@charset "UTF-8";

@font-face {
    font-family: "mao";
    src: url(../fonts/DancingScript-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
    font-family: "mao" Arial, Helvetica, sans-serif;
}

body {
    width: 100vw;
    height: 100vh;
    background-image: url(../images/pexels-anete-lusina-4792084.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}